# WEB SCRAPING – ASSIGNMENT 4

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.



Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos



You need to find following details:



A) Rank



B) Name



C) Artist



D) Upload date




E) Views

In [2]:
#Lets import all the required libraries 
import selenium # Libraries that is used to work  with selenium
from selenium import webdriver # importing web driver module from selenium to open automated edge window
import pandas as pd # to create dataframe
from selenium.webdriver.common.by import By#importing inbuild class BY
import warnings #to ignore any sort warnings
warnings.filterwarnings('ignore')
import time# used to stop search engine for few seconds

In [3]:
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [51]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [52]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos" # Here i am assigning the link in url name variable 
driver.get(url)

In [53]:
Rank=[]

In [54]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [55]:
Name=[]

In [56]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [57]:
Artist=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

In [58]:
Upload_Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')

In [59]:
Views=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [60]:
#Lets Make DataFrame
import pandas as pd

In [61]:
data=pd.DataFrame({'Rank':Rank,'Name':Name,"Artist":Artist,"Upload_Date":Upload_Date,"Views":Views})
data

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.01
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.53
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.85
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.77
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.70
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.02
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.76
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.73
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.63
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.61
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.14
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.68
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.61
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.43
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.37
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.34
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.31
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.30
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [62]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.



Url = https://www.bcci.tv/.



You need to find following details:



A) Match title (I.e. 1
st ODI)



B) Series



C) Place



D) Date



E) Time




Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [63]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [65]:
url="https://www.bcci.tv/" # Here i am assigning the link in url name variable 
driver.get(url)

In [69]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
search_btn.click()

In [74]:
Match_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Match_title.append(i.text.replace('-',""))
except NoSuchElementException:
    Match_title.append('-')

In [79]:
Series=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

In [81]:
Place=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

In [83]:
Date=[]
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [86]:
Time=[]
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [88]:
data=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
data

,Match_title,Series,Place,Date,Time
0,1st ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur,",4 DEC 2022,11:30 AM IST
1,Women's Youth T20 Match,NEW ZEALAND WM U19 IN INDIA T20 SERIES,"Sharad Pawar Cricket Academy BKC,",4 DEC 2022,1:00 PM IST
2,FirstClass Match,INDIA A IN BANGLADESH MULTI DAY SERIES,"Sylhet International Cricket Stadium,",6 DEC 2022,9:00 AM IST
3,Women's Youth T20 Match,NEW ZEALAND WM U19 IN INDIA T20 SERIES,"Sharad Pawar Cricket Academy BKC,",6 DEC 2022,1:00 PM IST
4,2nd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur,",7 DEC 2022,11:30 AM IST
5,1st T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium,",9 DEC 2022,7:00 PM IST
6,3rd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",10 DEC 2022,11:30 AM IST
7,2nd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium,",11 DEC 2022,7:00 PM IST

In [89]:
driver.close()

In [116]:
Name=Name[0:41]
len(Name)

41

In [121]:
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.



Url = http://statisticstimes.com/



You have to find following details:



A) Rank



B) State



C) GSDP(18-19)- at current prices



D) GSDP(19-20)- at current prices



E) Share(18-19)



F) GDP($ billion)



Note: - From statisticstimes home page you have to reach to economy page through code.

In [122]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [152]:
url=" http://statisticstimes.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [153]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()
driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]').click()

In [154]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [155]:
Rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

In [156]:
State=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

In [157]:
GDPs=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[8]'):
        GDPs.append(i.text)
except NoSuchElementException:
    GDPs.append('-')

In [158]:
GDP=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [159]:
Share=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')

In [160]:
GDPa=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
        GDPa.append(i.text)
except NoSuchElementException:
    GDPa.append('-')

In [161]:
#Lets Make DataFrame
import pandas as pd

In [163]:
data=pd.DataFrame({'Rank':Rank,"State":State,"GSDP(18-19)- at current prices":GDPs,"GSDP(19-20)- at current prices":GDP,"Share":Share,"GDP($ billion)":GDPa})

In [165]:
data

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share,GDP($ billion)
0,1,Maharashtra,"2,039,074",-,13.94%,399.921
1,2,Tamil Nadu,"1,215,307","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,123,982","1,687,818",8.39%,240.726
3,4,Gujarat,"1,186,379",-,7.96%,228.290
4,5,Karnataka,"1,091,077","1,631,977",7.91%,226.806
5,6,West Bengal,"739,525","1,253,832",5.77%,165.556
6,7,Rajasthan,"677,428","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"621,301","972,782",4.57%,131.083
8,9,Telangana,"612,828","969,604",4.56%,130.791
9,10,Madhya Pradesh,"522,009","906,672",4.29%,122.977
10,11,Kerala,"559,412",-,4.14%,118.733
11,12,Delhi,"590,569","856,112",4.10%,117.703
12,13,Haryana,"531,085","831,610",3.89%,111.519
13,14,Bihar,"375,651","611,804",2.81%,80.562
14,15,Punjab,"397,669","574,760",2.79%,79.957
15,16,Odisha,"376,877","521,275",2.58%,74.098
16,17,Assam,"234,048",-,1.67%,47.982
17,18,Chhattisgarh,"231,182","329,180",1.61%,46.187
18,19,Jharkhand,"224,986","328,598",1.57%,45.145
19,20,Uttarakhand,"193,273",-,1.30%,37.351
20,21,Jammu & Kashmir,"112,755",-,0.83%,23.690
21,22,Himachal Pradesh,"117,851","165,472",0.81%,23.369
22,23,Goa,"57,787","80,449",0.39%,11.115
23,24,Tripura,"36,963","55,984",0.26%,7.571
24,25,Chandigarh,"31,192",-,0.22%,6.397
25,26,Puducherry,"23,013","38,253",0.18%,5.230
26,27,Meghalaya,"24,682","36,572",0.18%,5.086
27,28,Sikkim,"18,722","32,496",0.15%,4.363
28,29,Manipur,"19,300","31,790",0.15%,4.233
29,30,Nagaland,"17,647",-,0.14%,4.144
30,31,Arunachal Pradesh,"16,676",-,0.13%,3.737
31,32,Mizoram,"16,478","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [166]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com.


Url = https://github.com/


You have to find the following details:


A) Repository title


B) Repository description


C) Contributors count



D) Language used

In [52]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [53]:
url=" https://github.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [56]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [57]:
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [60]:
Repository_title=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="text-normal"]'):
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')

In [62]:
Repository_description=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

In [43]:
Contributors_count=[]
try:
    for i in driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3'][1]"):
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')

In [71]:
Language_used=[]
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']"):
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')
    time.sleep(5)

In [73]:
#Lets Make DataFrame
import pandas as pd

In [84]:
data=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,"Language_used":Language_used})
data

,Repository_title,Repository_description,Contributors_count,Language_used
0,invoke-ai /,This version of Stable Diffusion features a sl...,"6,419",Jupyter Notebook
1,apple /,Stable Diffusion with Core ML on Apple Silicon,"2,920",Python
2,AleoHQ /,A Decentralized Operating System for ZK Applic...,"2,032",Rust
3,misskey-dev /,🌎 An interplanetary microblogging platform 🚀,"3,494",TypeScript
4,Klipper3d /,Klipper is a 3d-printer firmware,"5,697",C
5,PKUFlyingPig /,计算机自学指南,"19,766",HTML
6,danielgross /,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...",360,Go
7,hehonghui /,Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代...,"2,113",CSS
8,Visualize-ML /,☕ A practical event-driven microservices demo ...,894,Python
9,thangchung /,Personal CRM. Remember everything about your f...,"1,770",Go
10,monicahq /,Lean's LEDE source,"17,927",PHP
11,coolsnowwolf /,A collection of awesome resources related to t...,"24,018",C
12,Bogdanp /,"iOS 15.0-15.7.1 (semi-)tethered checkm8 ""jailb...","1,987",Shell
13,palera1n /,"The best way to start a full-stack, typesafe N...","1,309",TypeScript
14,t3-oss /,世界上最简单的Trojan部署脚本，仅需一行命令即可搭建一台代理服务器,"11,258",Shell
15,maplecool /,Node.js example app from the OpenAI API quicks...,143,JavaScript
16,openai /,Windows system utilities to maximize productivity,183,C#
17,microsoft /,Clean Architecture template for Golang services,"82,779",Go
18,evrone /,OpenZFS on Linux and FreeBSD,"3,924",C
19,openzfs /,Android app for streaming and downloading Movi...,"8,439",Kotlin
20,recloudstream /,🎄Starter template for solving Advent of Code i...,"1,632",Rust
21,fspoettel /,A book series on JavaScript. @YDKJS on twitter.,141,CSS
22,getify /,Python example app from the OpenAI API quickst...,"161,855",Rust

In [85]:
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com.



Url = https:/www.billboard.com/



You have to find the following details:



A) Song name



B) Artist name



C) Last week rank



D) Peak rank



E) Weeks on board



Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
#First Connect to web driver 

driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [4]:
url="https:/www.billboard.com/" # Here i am assigning the link in url name variable 
driver.get(url)

In [15]:
driver.find_element(By.XPATH,"//div[@class='u-overflow-hidden lrv-u-background-color-grey-lightest lrv-u-padding-t-150 u-padding-t-00@mobile-max u-padding-b-425@desktop-xl u-padding-b-325@tablet u-padding-b-250']").click()

In [23]:
driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/article/div[2]/div[1]/p[1]/a[2]").click()

In [70]:
Song_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3'):
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    time.sleep(5)

In [76]:
len(Song_name)

200

In [104]:
Artist_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span'):
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
    time.sleep(5)

In [105]:
Artist_name=Artist_name[0:-1:4]
len(Artist_name)

200

In [106]:
Peak_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]'):
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
    time.sleep(5)

In [108]:
len(Peak_rank)

200

In [124]:
Last_week_rank=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
    time.sleep(5)

In [128]:
Last_week_rank=Last_week_rank[0:-1:2]
len(Last_week_rank)

200

In [147]:
Weeks_on_board=[]
try:
    for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span'):
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')
    time.sleep(5)

In [150]:
Weeks_on_board=Weeks_on_board[1:400:2]
len(Weeks_on_board)

200

In [154]:
#Lets Make Dataframe
import pandas as pd
data=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Peak_rank":Peak_rank,"Last_week_rank":Last_week_rank,"Weeks_on_board":Weeks_on_board})
data

,Song_name,Artist_name,Peak_rank,Last_week_rank,Weeks_on_board
0,Midnights,Taylor Swift,1,1,5
1,Her Loss,Drake & 21 Savage,2,2,3
2,Un Verano Sin Ti,Bad Bunny,3,3,29
3,It's Only Me,Lil Baby,4,4,6
4,Dangerous: The Double Album,Morgan Wallen,5,6,98
...,...,...,...,...,...
195,Dont Smile At Me,Billie Eilish,196,-,244
196,Get Rich Or Die Tryin',50 Cent,197,187,153
197,Shiesty Season,Pooh Shiesty,198,180,94
198,Man On The Moon: The End Of Day,Kid Cudi,199,175,254
199,Exile On Mainstream,matchbox twenty,200,-,37

In [155]:
driver.close()

# 6. Scrape the details of Highest selling novels.



Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/



You have to find the following details:



A) Book name



B) Author name




C) Volumes sold




D) Publisher




E) Genre

In [66]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [67]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare " # Here i am assigning the link in url name variable 
driver.get(url)

In [71]:
Book_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    time.sleep(5)

In [73]:
len(Book_name)

100

In [74]:
Author_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')
    time.sleep(5)

In [76]:
len(Author_name)

100

In [77]:
Volumes_sold=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    time.sleep(5)

In [80]:
len(Volumes_sold)

100

In [81]:
Publisher=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    time.sleep(5)

In [82]:
len(Publisher)

100

In [83]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [84]:
#Lets make dataframe
import pandas as pd
data=pd.DataFrame({'Book_name':Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
data

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [85]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.



Url = https://www.imdb.com/list/ls095964455/



You have to find the following details:


A) Name



B) Year span



C) Genre



D) Run time



E) Ratings




F) Vote

In [6]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [7]:
url="https://www.imdb.com/list/ls095964455/" # Here i am assigning the link in url name variable 
driver.get(url)

In [12]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [14]:
len(Name)

100

In [15]:
Year_span=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('-')
    time.sleep(5)

In [16]:
len(Year_span)

100

In [24]:
Genre=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [25]:
len(Genre)

100

In [21]:
Run_time=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('-')
    time.sleep(5)

In [22]:
len(Run_time)

100

In [28]:
Ratings=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]'):
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('-')
    time.sleep(5)

In [30]:
len(Ratings)

100

In [31]:
Vote=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        Vote.append(i.text)
except NoSuchElementException:
    Vote.append('-')
    time.sleep(5)

In [34]:
len(Vote)

100

In [35]:
#Lets make datafram
import pandas as pd
data=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre":Genre,"Run_time":Run_time,"Ratings":Ratings,"Vote":Vote})
data

,Name,Year_span,Genre,Run_time,Ratings,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,089,522"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,179,120"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"988,631"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,802"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"251,946"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,170"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,437"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,248"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,571"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,149"

In [38]:
driver.close()

# 8. Details of Datasets from UCI machine learning repositories.


Url = https://archive.ics.uci.edu/


You have to find the following details:


A) Dataset name


B) Data type


C) Task


D) Attribute type


E) No of instances


F) No of attribute


G) Year


Note: - from the home page you have to go to the ShowAllDataset page through code

In [39]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [41]:
url="https://archive.ics.uci.edu/" # Here i am assigning the link in url name variable 
driver.get(url)

In [43]:
driver.find_element(By.XPATH,'//td//span[2][@class="whitetext"]//a').click()

In [46]:
Dataset_name=[]
try:
    for i in driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a'):
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')
    time.sleep(5)

In [49]:
len(Dataset_name)

622

In [50]:
Data_type=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]'):
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')
    time.sleep(5)

In [51]:
len(Data_type)

622

In [52]:
Task=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]'):
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
    time.sleep(5)

In [53]:
len(Task)

622

In [54]:
Attribute_type=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]'):
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('-')
    time.sleep(5)

In [55]:
len(Attribute_type)

622

In [56]:
No_of_instances=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]'):
        No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instances.append('-')
    time.sleep(5)

In [57]:
len(No_of_instances)

622

In [58]:
No_of_attribute=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]'):
        No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append('-')
    time.sleep(5)

In [59]:
len(No_of_attribute)

622

In [60]:
Year=[]
try:
    for i in driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]'):
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
    time.sleep(5)

In [61]:
len(Year)

622

In [62]:
#Lets Make DataFrame
import pandas as pd
data=pd.DataFrame({"Dataset_name":Dataset_name,"Data_type":Data_type,"Task":Task,"Attribute_type":Attribute_type,"No_of_instances":No_of_instances,"No_of_attribute":No_of_attribute,"Year":Year})
data

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer","Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real","Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Classification,"Integer, Real","Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Classification,,,1014,7,2020
620,Room Occupancy Estimation,Classification,Real,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Regression,Real,Real,4000,2,2021

In [63]:
driver.close()

# 9.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [4]:
driver = webdriver.Edge(r"D:\edgedriver_win64\msedgedriver.exe")
driver

In [5]:
url="https://www.naukri.com/hr-recruiters-consultants" # Here i am assigning the link in url name variable 
driver.get(url)

In [6]:
user_input=input("Search What You Want")
user_input

Search What You WantData Science

'Data Science'

In [7]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search_job.send_keys(user_input)

In [8]:
driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

In [9]:
Name=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    time.sleep(5)

In [10]:
len(Name)

50

In [11]:
Designation=[]
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]'):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('-')
    time.sleep(5)

In [12]:
len(Designation)

50

In [13]:
Company=[]
try:
    for i in driver.find_elements(By.XPATH,'//a[@class="ellipsis"]'):
        Company.append(i.text)
except NoSuchElementException:
    Company.append('-')
    time.sleep(5)

In [15]:
Company=Company[1:100:2]
Company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Infinitive Software Solutions',
 'BISP Solutions',
 'SocialPrachar.com',
 'Codeachive learning',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Bristlecone India Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'ZIGRAM',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'NETAPS FOUNDATION',
 'RMS Risk Management Solutions',
 'Dollarbird Information Services Pvt, Ltd',
 'Nikitha Palaparthi',
 'Independent Consultant',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited']

In [16]:
Skill=[]
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]'):
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('-')
    time.sleep(5)

In [17]:
len(Skill)

50

In [26]:
Location=[]
try:
    for i in driver.find_elements(By.XPATH,'//small[@class=class="ellipsis"]'):
        Location.append(i.text)
except :
    Location.append('Nan')
    time.sleep(5)

In [ ]:
len(location)

In [ ]:
#lets create dataframe

In [20]:
Name=Name[0:48]
len(Name)
Company=Company[0:48]
len(Company)

48

In [21]:
Skill=Skill[0:48]
len(Skill)

48

In [22]:
Designation=Designation[0:48]
len(Designation)

48

In [ ]:
import pandas as pd
data=pd.DataFrame({"Name":Name,"Company":Company,"Designation":Designation,"Skill":Skill,"Location":Location})
data

In [ ]:
driver.close()