In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\classic\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\classic\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\classic\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\classic\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\classic\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: attrs>=19.2.0 in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\classic\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\classic\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\classic\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\classic\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\classic\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

# 1. All the questions must be done in a single Jupyter notebook.
# 2. There should be proper comments incode.
#  Q1) : Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
# have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
# jobs data.
# This task will be done in following steps:
            1. First get the webpage https://www.naukri.com/
            2.  Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
                  location” field.
            3. Then click the searchbutton.
            4. Then scrape the data for the first 10 jobs results you get.
            5. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\CLASSIC\OneDrive\Documents\Downloads\chromedriver.exe")

In [6]:
driver.get("https://www.naukri.com/")

In [7]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [8]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div[1]/div[1]/div/input")
location.send_keys('Bangalore')

In [9]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [12]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [13]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,Urgent Opening For Data Analyst | MNC | Bangal...,Bangalore/Bengaluru,Yellow Box Hr Services,4-9 Yrs
3,Urgent Hiring For Data Analyst For MNC - Banga...,Bangalore/Bengaluru,Yellow Box Hr Services,3-8 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,2-4 Yrs
5,Data Analyst,Bangalore/Bengaluru,IBM,2-4 Yrs
6,Data Analyst,Bangalore/Bengaluru,Globals Ites,2-3 Yrs
7,Data Analyst,Bangalore/Bengaluru,Varite,4-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Cynosure Corporate Solutions,2-7 Yrs
9,Logistics Data Analyst,Bangalore/Bengaluru,Reshamandi,1-3 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
# have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
# This task will be done in following steps:
        1. First get the webpage https://www.naukri.com/
        2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
           location” field.
        3. Then click the searchbutton.
        4. Then scrape the data for the first 10 jobs results youget.
        5. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.

In [14]:
driver=webdriver.Chrome(r"C:\Users\CLASSIC\Downloads\chromedriver.exe")

In [15]:
driver.get("https://www.naukri.com/")

In [16]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [19]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//span[@class="starRating fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [20]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [21]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,location,Company_name,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,2-4 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,6-8 Yrs
2,Data Science Professional - IBM SPSS Statistic...,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",3.7,5-8 Yrs
3,Senior data scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",4.1,4-8 Yrs
4,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",4.1,5-11 Yrs
5,Data Scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",4.1,3-7 Yrs
6,Manager - Innovations Hub - Machine Learning,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3.7,7-9 Yrs
7,Data Scientist II,Bangalore/Bengaluru,4.2,5-7 Yrs
8,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",4.1,5-12 Yrs
9,Staff Data Scientist,"Mumbai, Bangalore/Bengaluru",4.2,10-12 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
# You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results. 
# You have to scrape the job-title, job-location, company name, experience required.
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
# The task will be done as shown in the below steps:
        1. first get thewebpage https://www.naukri.com/
        2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
        3. Then click the searchbutton.
        4. Then apply the location filter and salary filter by checking the respective boxes
        5. Then scrape the data for the first 10 jobs results youget.
        6. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.

In [22]:
driver=webdriver.Chrome(r"C:\Users\CLASSIC\Downloads\chromedriver.exe")

In [24]:
driver.get("https://www.naukri.com/")

In [25]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [26]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi / NCR')

In [27]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [28]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
job_salary=[]

In [29]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping Job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    
# scraping Job Salary from the given page
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    job_salary.append(salary)

In [30]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(job_salary))

10 10 10 10 10

In [31]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'Company_name':company_name,'Experience':experience_required,'Salary':job_salary})
df

,Title,location,Company_name,Experience,Salary
0,Data Science Professional - IBM SPSS Statistic...,"Noida, Mumbai, Pune, Chennai, Bangalore/Bengaluru",Hexaware Technologies,5-8 Yrs,Not disclosed
1,Senior data scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,4-8 Yrs,Not disclosed
2,Data Scientist_NLP,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,5-11 Yrs,Not disclosed
3,Data Scientist,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Analytics,3-7 Yrs,Not disclosed
4,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs,Not disclosed
5,Lotus Interworks - Data Scientist,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Lotus Interworks Inc,1-5 Yrs,Not disclosed
6,Sr Data Scientist (ML / CV / NLP),"Mumbai, New Delhi, Pune, Bangalore/Bengaluru",AVE-Promagne Business Solutions,4-8 Yrs,Not disclosed
7,Data Scientist - R/Python,"Temp. WFH - Delhi / NCR, Kolkata, Mumbai, Visa...",Okda Solutions,4-7 Yrs,Not disclosed
8,Data Science Associate Director,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",TRH Consultancy Services,10-20 Yrs,Not disclosed
9,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Tech Mahindra,5-10 Yrs,7-11 Lacs PA

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
            1. Brand
            2. ProductDescription
            3. Price
# The attributes which you have to scrape is ticked marked in the below image.
# To scrape the data you have to go through following steps:
            1. Go to Flipkart webpage by url :https://www.flipkart.com/     
            2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
               click the search icon
            3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
               required data asusual.
            4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
               click on it.
            5. Now scrape data from this page asusual
            6. Repeat this until you get data for 100sunglasses.
# Note: That all of the above steps have to be done by coding only and not manually.

In [32]:
driver.get("http://www.flipkart.com/")

In [33]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [34]:
#Lets extract all web elements having 100 Sunglass Brand
brands=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in title_tag:
        brands.append(i.text.split(","))
brands=brands[0:100]

In [35]:
#Lets extract all web elements having 100 Sunglass Product Discription
prod_des=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in title_tag:
        prod_des.append(i.text.split(","))
prod_des=prod_des[0:100]

In [36]:
#Lets extract all web elements having 100 Sunglass Price
price=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in title_tag:
        price.append(i.text.split(" "))
price=price[0:100]

In [37]:
#Lets make datafram
import pandas as pd
sunglass=pd.DataFrame({"Sunglass Brands":brands,"Production Descripion":prod_des,"Sunglass Price":price})
sunglass

,Sunglass Brands,Production Descripion,Sunglass Price
0,[ROZZETTA CRAFT],"[Polarized, UV Protection Aviator Sunglasses ...",[₹492]
1,[Velocity Eyewear],[UV Protection Sports Sunglasses (Free Size)],"[₹1,549]"
2,[SRPM],[UV Protection Wayfarer Sunglasses (50)],[₹149]
3,[Elligator],"[UV Protection Cat-eye, Retro Square, Oval, ...",[₹149]
4,[Elligator],"[UV Protection Aviator, Wayfarer Sunglasses (...",[₹149]
...,...,...,...
95,[Velocity Eyewear],[UV Protection Round Sunglasses (53)],"[₹1,499]"
96,[Fastrack],[UV Protection Sports Sunglasses (62)],[₹749]
97,[Fastrack],[UV Protection Wayfarer Sunglasses (53)],[₹579]
98,[Fastrack],[UV Protection Wayfarer Sunglasses (56)],[₹639]
99,[IRUS],[UV Protection Oval Sunglasses (54)],[₹719]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
# https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
# place=FLIPKART
# As shown in the above page you have to scrape the tick marked attributes. These are:
               1. Rating
               2. Review summary
               3. Full review
               4. You have to scrape this data for first 100reviews.
# Note: All the steps required during scraping should be done through code only and not manually.

In [40]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [41]:
#Clicking using absolute xpath function
rating_review=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div")
rating_review.click()

In [42]:
Rating = []
start=0
end=11
for page in range(start,end,1):
    rating = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
    
    time.sleep(3)
Rating=Rating[0:100]
len(Rating)

100

In [43]:
Review = []
start=0
end=11
for page in range(end,start,-1):
    review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in review:
        Review.append(i.text)
    
    time.sleep(3)
Review=Review[0:100]
len(Review)

100

In [44]:
Full_review = []
start=0
end=11
for page in range(start,end,1):
    review = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in review:
        Full_review.append(i.text)
    
    
Full_review=Full_review[0:100]
len(Full_review)

100

In [45]:
#Lets Make Data Frame
import pandas as pd
i_phone=pd.DataFrame({"I Phone 11 Rating":Rating,"I Phone Review":Review,"Full Review":Full_review})
i_phone

,I Phone 11 Rating,I Phone Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
# search field.
# You have to scrape 3 attributes of each sneaker:
         1. Brand
         2. ProductDescription
         3. Price
# As shown in the below image, you have to scrape the above attributes.

In [46]:
url="https://www.flipkart.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [47]:
#Finding the web element for search "Data Analyst"
search_job=driver.find_element(By.CLASS_NAME,"_3704LK")
search_job.send_keys("sneakers")

In [48]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [49]:
#Lets find 100 Brands name
brand=[]

start=0
end=3

                         
for page in range(start,end):
    Brand=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in Brand:
        brand.append(i.text)
brand=brand[0:100]
len(brand)

100

In [50]:
price=[]
start=0
end=3
for page in range(start,3):
    Price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in Price:
        price.append(i.text)
price=price[0:100]
len(price)

100

In [51]:
prod_des=[]
start=0
end=3
for page in range(start,end):
    
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in title_tag:
        prod_des.append(i.text)
prod_des=prod_des[0:100]
len(prod_des)

100

In [52]:
#Lets Make DataFrame
import pandas as pd
sneaker=pd.DataFrame({"Sneaker Brank":brand,"Sneaker Price":price,"Sneaker Description":prod_des})
print(sneaker.shape)
sneaker.head()

(100, 3)

,Sneaker Brank,Sneaker Price,Sneaker Description
0,UNDER ARMOUR,"₹6,999",Sneakers For Men
1,UNDER ARMOUR,"₹7,699",Sneakers For Men
2,BIRDE,₹499,Combo Pack Of 2 Casual Shoes Sneakers For Men
3,World Wear Footwear,₹279,Latest Exclusive Affordable Collection of Tren...
4,Kraasa,₹299,Sneakers For Women

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
# set CPU Type filter to “Intel Core i7” as shown in the below image:
# After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
              1. Title
              2. Ratings
              3. Price

In [60]:
url="https://www.amazon.in/"
driver.get(url)

In [61]:
#Finding the web element for search "laptop"
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

In [62]:
#Clicking using absolute xpath function
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [63]:
#Lets extract all web elements having Laptop Ratings Done by customer
title=[]
Title=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in Title:
    title.append(i.text)
title=title[0:10]
len(title)

10

In [70]:
#Lets extract all web elements having Ratings given by Customer
ratings=[]
Rating=driver.find_elements(By.XPATH,"//span[@class='a-size-base']")
for i in Rating:
    ratings.append(i.text)
ratings=ratings[0:10]
len(ratings)

10

In [73]:
#Lets extract all web elements having Price
price=[]
Price=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in Price:
    price.append(i.text.split("[]"))
price=price[0:10]
len(price)

10

In [74]:
#Lets Make DataFrame
import pandas as pd
laptop=pd.DataFrame({"Laptop Title":title,"Laptop Ratings":ratings,"Laptop Price":price})
laptop

,Laptop Title,Laptop Ratings,Laptop Price
0,"Lenovo V15 AMD Ryzen 3 5300U 15.6"" (39.62cm) F...",,"[31,389]"
1,"HONOR MagicBook X16 (2023), 12th Gen Intel Cor...",,"[14,999]"
2,Lenovo E41-55 Laptop (AMD Athlon Pro 3045B/ 4G...,,"[22,580]"
3,"HP 15s, 11th Gen Intel Core i3 8GB RAM/1TB HDD...",,"[40,679]"
4,HP 255 G8 Notebook (AMD Ryzen™ 3 3250U/8GB RAM...,,"[33,989]"
5,"Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6"" ...",,"[31,389]"
6,Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...,,"[39,989]"
7,"HP 15s,11th Gen Intel Core i3-1115G4 8GB RAM/5...",,"[28,349]"
8,"HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...",,"[4,999]"
9,(Renewed) Dell Latitude E5470 Intel Core i5 6t...,,"[2,700]"

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
# The above task will be done in following steps:
                    1. First get the webpagehttps://www.azquotes.com/
                    2. Click on TopQuotes
                    3. Than scrap a) Quote b) Author c) Type Of Quotes

In [4]:
url="https://www.azquotes.com/" # Here i am assigning the link in url namea variable 
driver.get(url) #here using the get method to access the link

In [5]:
#Clicking using absolute xpath function
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/h1")
top_quotes.click()

In [6]:
#Lets find 1000 Quotes
quote=[]

start=0
end=1000

                         
for page in range(start,end):
    Quote=driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/div/h1")
    
    for i in Quote:
        quote.append(i.text)
    

print(len(quote))

1000

In [10]:
#Lets find author name
author=[]

start=0
end=1000

                         
for page in range(start,end):
    Author=driver.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[1]/a")
    
    for i in Author:
        author.append(i.text)
    
    
    
print(len(author))

1000

In [11]:
#Lets find Typeof Quote
top=[]

start=0
end=1000

                         
for page in range(start,end):
    TOP=driver.find_elements(By.XPATH,"/html/body")
    
    for i in TOP:
        top.append(i.text)
    
    
print(len(top))

1000

In [12]:
#Lets MakeDataFrame
import pandas as pd
thousand_quote=pd.DataFrame({"Best Quote":quote,"Best Author":author,"Topic of Quote":top})
thousand_quote

,Best Quote,Best Author,Topic of Quote
0,Quote of the Day,,Choose...\nA\nB\nC\nD\nE\nF\nG\nH\nI\nJ\nK\n...
1,Quote of the Day,,Choose...\nA\nB\nC\nD\nE\nF\nG\nH\nI\nJ\nK\n...
2,Quote of the Day,,Choose...\nA\nB\nC\nD\nE\nF\nG\nH\nI\nJ\nK\n...
3,Quote of the Day,,Choose...\nA\nB\nC\nD\nE\nF\nG\nH\nI\nJ\nK\n...
4,Quote of the Day,,Choose...\nA\nB\nC\nD\nE\nF\nG\nH\nI\nJ\nK\n...
...,...,...,...
995,Quote of the Day,,Quotations by Topic\nLooking for a quote fro...
996,Quote of the Day,,Quotations by Topic\nLooking for a quote fro...
997,Quote of the Day,,Quotations by Topic\nLooking for a quote fro...
998,Quote of the Day,,Quotations by Topic\nLooking for a quote fro...
999,Quote of the Day,,Quotations by Topic\nLooking for a quote fro...

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
# Term of office, Remarks) from https://www.jagranjosh.com/.
# This task will be done in following steps:
                   1. First get the webpagehttps://www.jagranjosh.com/
                   2. Then You have to click on the GK option
                   3. Then click on the List of all Prime Ministers of India
                   4. Then scrap the mentioned data and make theDataFrame.

In [4]:
url="https://www.jagranjosh.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [5]:
#Clicking using absolute xpath function
top_quotes=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
top_quotes.click()

In [7]:
#Lets find PM name
pm_name=[]
Names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')

for name in Names:

    pm_name.append(name.text)
len(pm_name)

18

In [8]:
#Lets find born date and dead date
born_dead=[]
Born_dead=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[3]/p")
for i in Born_dead:
    born_dead.append(i.text)
born_dead
len(born_dead)

18

In [9]:
#Lets find term of office
tof=[]
term_office=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[4]/p[1]")
for i in term_office:
    tof.append(i.text)

len(tof)

18

In [10]:
#Lets find Remarks
remark=[]
Remark=driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[5]/p")
for i in Remark:
    remark.append(i.text)
len(remark)

18

In [11]:
#Lets make dataframe
import pandas as pd
all_pm=pd.DataFrame({"All PM name of india":pm_name,"Born-Dead":born_dead,"Term of office(Date)":tof,"Remark":remark})

In [12]:
all_pm

,All PM name of india,Born-Dead,Term of office(Date),Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Q10: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/
# This task will be done in following steps:

1.First get the webpage https://www.motor1.com/

2.Then You have to click on the List option from Dropdown menu on left side.

3.Then click on 50 most expensive cars in the world..

4.Then scrap the mentioned data and make the dataframe

In [22]:
url="https://www.motor1.com/" # Here i am assigning the link in url name variable 
driver.get(url) #here using the get method to access the link

In [23]:
#Clicking using absolute xpath function
three_dots=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
three_dots.click()

In [25]:
#Clicking using absolute xpath function
list_option=driver.find_element(By.XPATH,"/html/body")
list_option.click()

In [30]:
#Clicking using absolute xpath function
most_expensive_car=driver.find_element(By.XPATH,"/html/body/div[3]/div[5]/h1")
most_expensive_car.click()

In [31]:
#Lets Find Car Name
car_name=[]
Car_Name=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in Car_Name:
    car_name.append(i.text)





car_name=car_name[0:50]
len(car_name)

50

In [32]:
#Lets Find Car Price/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]/strong
car_price=[]

Car_Price=driver.find_elements(By.XPATH,"/html/body/div[3]/div[7]/div[2]/div[1]/div[2]/div[1]/p[4]")
for i in Car_Price:
    car_price.append(i.text)
car_price=car_name[0:50]    
len(car_price)

50

In [33]:
#Lets Make DataFrame
import pandas as pd
best_car=pd.DataFrame({"Car Name":car_name,"Car Price":car_price})
print(best_car.shape)
best_car.head()

(50, 2)

            Car Name          Car Price
0      De Tomaso P72      De Tomaso P72
1  Ferrari LaFerrari  Ferrari LaFerrari
2      Pagani Huayra      Pagani Huayra
3       McLaren Elva       McLaren Elva
4        Czinger 21C        Czinger 21C